{% extends 'base.html' %}
{% block content %}
<form method="post">{% csrf_token %}
    User Type:
    <select name="user_type">
        <option value="Candidate">Candidate</option>
        <option value="Interviewer">Interviewer</option>
    </select><br>
    User ID: <input type="number" name="user_id"><br>
    Date: <input type="date" name="date"><br>
    Start Time: <input type="time" name="start_time"><br>
    End Time: <input type="time" name="end_time"><br>
    <button type="submit">Register Availability</button>
</form>
{% endblock %}
